.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Press Start 2P";
}
#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar main";
  width: 100vw;
  height: 100vh;
}
#main {
  grid-area: main;
}
#new-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  margin-left: 0px;
  border-top: 1px solid #3f3f3f;
  background-color: rgb(50, 91, 255);
  color: #ffffff;
}
#messages-list {
  padding: 5px 0 0 5px;
}
#sidebar {
  grid-area: sidebar;
  /* padding: 5px 0 0 0; */
  border-right: 1px solid #3f3f3f;
  background-color: rgb(44, 150, 255);
  height: 100%;
  color: #ffffff;
}
#user-align {
  padding: 5px 0 0 5px;
}
#logo-box {
  background-color: darkblue;
  position: relative;
  top: 575px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 10px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#App-logo {
  display: block;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  animation: App-logo-spin infinite 25s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
